html,
body {
    height: 100%;
}

a:hover {
	text-decoration: none;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.container {
	width: 1300px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.btn-language {
	margin: -7px 20px 0 0;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
	font-size: x-small;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e113";
}

a.desc:after {
    content: "\e114";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.stack-trace-mini {
	width: 700px;
	overflow-x: hidden;
	word-wrap: normal;
}

.resolve {
	cursor: pointer;
}

.tooltip-inner {
	text-align: left;
	white-space: pre;
	max-width: 1140px;
}

.detail-view td {
	word-break: break-word;
}

.grid-view {
	margin-top: 20px;
}

.highcharts-container {
	margin-top: 20px;
}

.form-inline .form-group {
	margin-bottom: 10px;
}

.field-bugfilter-search, .field-bugfilter-searchnot {
	width: 100%;
}

#bugfilter-search, #bugfilter-searchnot {
	width: 100%;
}

#chart {
	height: 250px;
}

#bugfilter-daterange {
	cursor: pointer;
}
